# Секретный ключ для подписи JWT токенов
JWT_SECRET=your_super_secret_key_here

# Адрес и порт запуска сервера
SERVER_HOST=localhost:8080

# Режим безопасности Cookie: true для HTTPS (Production), false для HTTP (Local)
IS_SECURE=false
