# Секретный ключ для подписи JWT токенов
JWT_SECRET=your_super_secret_key_here

# Порт запуска сервера
PORT=8000

# Режим безопасности Cookie: true для HTTPS (Production), false для HTTP (Local)
IS_SECURE=false

# Уровень логирования: DEBUG, INFO, WARN, ERROR
LOG_LEVEL=INFO

# Время жизни контекста для graceful shutdown
SHUTDOWN_TIMEOUT=5

# Имя куки для JWT-токена
COOKIE_NAME=NoterianCookieJWT

# Время жизни куки с JWT-токеном
COOKIE_TIME_JWT=3600